html, body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header-links-ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.header-link {
    padding: 0.4rem;
    border-radius: 2px;
    cursor: pointer;
}

.header-link:hover {
    border-bottom: 1px solid white;
}

main {
    padding: 2rem;
    font-size: 1rem;
}

.title {
    font-size: 3rem;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1e1e1e;
}

.dark-mode .header-link:hover {
    border-bottom: 1px solid #ffffff;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.gallery-image {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
}

.form_submit {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
    background-color: #4CAF50;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 10px;
}

.form_submit:hover {
    background-color: #45a049;
}

